#shows-view div {
    display: inline-block;
    padding: 25px;
}

h1 {
    text-align: center;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 50px;
    text-emphasis: bold;
    text-decoration-color: aliceblue;
}

.jumbotron {
    background-color: orange;
}

body {
    background-color: aqua;
}